@font-face { font-family: Bebas; src: url('src/Bebas-Regular.otf'); } 
@font-face { font-family: Roboto; src: url('src/Roboto-Thin.ttf'); } 

.body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: flex;
}

.pozadie1 {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
}

.text {
  font-size: 200px;
  font-family: "Bebas";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.99823763345311,0,0,0.99831444,0,0);
  -webkit-transform: matrix( 0.99823763345311,0,0,0.99831444,0,0);
  -ms-transform: matrix( 0.99823763345311,0,0,0.99831444,0,0);
  position: absolute;
  left: 787.907px;
  top: 1rem;
  z-index: 15;
}

.text2 {
    color: white;
    font-family: 'Roboto';
    font-size: 60px;
    position: absolute;
    margin: 16.5rem 0 0 33.5%;
    z-index: 16;
}

.barevnacara {
    margin: 15rem 0 0 44%;
}
