@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');
*
{
	margin: 0;
	padding: 0;
    list-style: none;
	text-decoration: none;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.bg
{
	position: center;
	top: 0;
	left: 0;
    width: 100%;
	height: 92vh;
    object-fit: cover;
	pointer-events: none;  
}
.logo
{
        position: absolute;
        left: 41.5625vw;
        top: 8.125vw;
        width: 16.875vw;
        height: 15.57vw;
}
.sb
{
	font-family: 'Poppins';
    position: fixed;
	left: -13.02vw;
	width: 13.02vw;
	height: 100%;
	background: #0e0e0e;
	transition: all 0.7s;
}
.sb header
{
	font-size: 1.146vw;
	color: #fff;
	text-align: center;
	line-height: 3.646vw;
	user-select: none;
	background: #070707;
}
.sb ul a
{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 3.385vw;
	font-size: 1.042vw;
	color: #fff;
	padding-left: 2.083vw;
	box-sizing: border-box;
	transition: .7s;
}
ul li a:hover
{
    background: #ffbb0010;
    color: #ffba00;
    border-radius: 1.302vw;
    padding-left: 2.604vw;
}
.sb ul a i
{
	margin-right: 1.563vw;
}
#check
{
	display: none;
}
label #btn, label #cancel
{
	position: absolute;
	cursor: pointer;
}
label #btn
{
	left: 2.083vw;
	top: 1.302vw;
	font-size: 1.823vw;
	color: #fff;
	padding: 0.313vw 0.625vw;
	transition: all .7s;
}
label #cancel
{
	z-index: 1111;
	left: -10.156vw;
	top: 0.885vw;
	font-size: 1.563vw;
	color: #fff;
	padding: 0.208vw 0.469vw;
	transition: all .5s ease;
}
#check:checked ~ .sb
{
	left: 0;
}
#check:checked ~ label #btn
{
	left: 13.021vw;
	opacity: 0;
	pointer-events: none;
}
#check:checked ~ label #cancel
{
	left: 10.156vw;
}
#but 
{
    font-family: 'Poppins';
    top: 25vw;
    text-decoration: none;
	display: inline-block;
	padding: 0.417vw 1.563vw;
	border-radius: 200vw;
	background: #fff;
	color: #ff0000;
	font-size: 1.563vw;
	z-index: 1111111;
	transform: scale(1.0);
	transition: all in 1 ease;
	transition-duration: 0.5s;
	position: absolute;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 54px 55px, rgba(0, 0, 0, 0.24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.34) 0px 12px 13px, rgba(0, 0, 0, 0.18) 0px -3px 5px;
  }
#but:hover
{
	background-color: #fff;
	transform: scale(1.1) perspective(1px)
}
section
{
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
}
footer{
	position: relative;
	width: 100%;
	height: 8vh;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.end{
	font-family: 'Poppins';
	position: relative;
	color:#fff;
	bottom: 0.5vw;
	font-size: 1vw;
}
.dmca-badge
{
	position: relative;
	right: 2.5vw;
	bottom: 0.25vw;
	width: 1vw;
	height: 1vw;
}
.sb ul li a.active {
	position: relative;
  }
  
  .sb ul li a.active::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: #ffbb004d;
	border-radius: 1.302vw;
	pointer-events: none;
	animation: glowing 2s ease-in-out infinite;
  }